* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: DepotNew;
    /* font-family: 'Sen', sans-serif; */
}

@font-face {
    font-family: 'DepotNew';
    src: url('./font/DepotNew-Medium.ttf');
    src: url('./font/DepotNew-Bold.ttf');
    src: url('./font/DepotNew-Regular.ttf');
    src: url('./font/DepotNew-Light.ttf');
}

.navbar {
    z-index: 10;
    background-color: transparent !important;
}

.registration-btn {
    background-color: #4F7CB6;
    color: white;
    text-decoration: none !important;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 10px;
    transition: all .5s;
    border-radius: 3px;
    border: none !important;
}

.registration-btn:hover {
    color: #022C47;
    background-color: white;
}

.navbar-toggler {
    background-color: white;
}

.nav-active {
    background-color: #042d70e0;
    color: white !important;
}


header {
    width: 100%;
    /* height: 70vh; */
    /* background: transparent radial-gradient(closest-side at 16% 28%, #2764C3 0%, #042E70 250%) 0% 0% no-repeat padding-box; */
    opacity: 1;
    position: relative;

}

/* about-section */
.about-section {
    padding: 40px 0px;
    width: 100%;
    background: transparent radial-gradient(closest-side at 10% 50%, #2764C3 0%, #042E70 450%) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}


.about-section h1 {
    padding: 50px 30px;
    background: #154A9B 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 44px #00000029;
    border-radius: 18px;
    opacity: 0.7;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-family: jost;
    font-weight: 800;
}

.about-section p {
    color: white;
    z-index: 10;
}

.about-section ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.about-section ul li {
    margin-left: -20px;
}

.ball-5 {
    animation: float5 5.5s ease-in-out infinite;
    height: 220px;
    width: 100%;
    max-width: 220px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 30%;
    opacity: .35;
    background: #1B4FA4 0% 0% no-repeat padding-box;
    box-shadow: 0px 68px 78px #00000029;
    opacity: 0.43;
}

@keyframes float5 {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-40px);
    }

    100% {
        transform: translatey(0px);
    }
}

.ball-6 {
    animation: float6 6.5s ease-in-out infinite;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 320px;
    left: 28%;
    opacity: .35;
    background: #1B4FA4 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #0000003b;
    opacity: 0.43;
    /* box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,
      inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #fde9ea,
      inset 0 50px 140px #fde9ea, 0 0 90px #fff; */
}

@keyframes float6 {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-40px);
    }

    100% {
        transform: translatey(0px);
    }
}

/*section 1 */
.section1 {
    width: 100%;
    margin: auto;
    padding: 40px 0px;
}

.section1-div1 h1 {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 900;
    line-height: 48px;
    padding: 10px 0px;

}

/* share button  */

.section1 .popup {
    position: absolute;
    left: 50%;
}

.view-modal {
    color: #7d2ae8;
    font-size: 18px;
    padding: 10px 25px;
}

.section1 .popup {
    right: 0;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    top: -150%;
    max-width: 380px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%) scale(1.2);
    transition: top 0s 0.2s ease-in-out,
        opacity 0.2s 0s ease-in-out,
        transform 0.2s 0s ease-in-out;
}

.section1 .popup.show {
    top: 50%;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0s 0s ease-in-out,
        opacity 0.2s 0s ease-in-out,
        transform 0.2s 0s ease-in-out;

}

.section1 .popup :is(header, .icons, .field) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section1 .popup .close-div span {
    font-size: 21px;
    font-weight: 600;
}

.section1 .popup .close-div .close,
.icons a {
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.section1 .popup .close-div .close {
    color: #000000;
    font-size: 17px;
    background: #f2f3fb;
    height: 33px;
    width: 33px;
    cursor: pointer;
}

.section1 .popup .close-div .close:hover {
    background: #ebedf9;
}

.section1 .popup .content {
    margin: 20px 0;
}

.section1 .popup .icons {
    margin: 15px 0 20px 0;
}

.section1 .popup .content p {
    font-size: 16px;
}

.section1 .popup .content .icons a {
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid transparent;
}

.section1 .popup .content .icons a i {
    transition: transform 0.3s ease-in-out;
}

.section1 .popup .content .icons a:nth-child(1) {
    color: #1877F2;
    border-color: #b7d4fb;
}

.section1 .popup .content .icons a:nth-child(1):hover {
    background: #1877F2;
}

.section1 .popup .content .icons a:nth-child(2) {
    color: #46C1F6;
    border-color: #b6e7fc;
}

.section1 .popup .content .icons a:nth-child(2):hover {
    background: #46C1F6;
}

.section1 .popup .content .icons a:nth-child(3) {
    color: #0A66C2;
    border-color: #86baee;
}

.section1 .popup .content .icons a:nth-child(3):hover {
    background: #0A66C2;
}

.section1 .popup .content .icons a:nth-child(4) {
    color: #25D366;
    border-color: #bef4d2;
}

.section1 .popup .content .icons a:nth-child(4):hover {
    background: #25D366;
}

.section1 .popup .content .icons a:nth-child(5) {
    color: #0088cc;
    border-color: #b3e6ff;
}

.section1 .popup .content .icons a:nth-child(5):hover {
    background: #0088cc;
}

.section1 .popup .content .icons a:hover {
    color: #fff;
    border-color: transparent;
}

.section1 .popup .content .icons a:hover i {
    transform: scale(1.2);
}

.section1 .popup .content .field {
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #e1e1e1;
}

.section1 .field.active {
    border-color: #7d2ae8;
}

.section1 .field i {
    width: 50px;
    font-size: 18px;
    text-align: center;
}

.section1 .field.active i {
    color: #7d2ae8;
}

.section1 .field input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.section1 .field a {
    color: #fff;
    padding: 5px 18px;
    background: #042E70;
}

.section1 .field a:hover {
    text-decoration: none;
    color: white;
}

.section1-div1 p {
    text-align: justify;
    font-family: jost;
}

.para-with-image {
    width: 100%;
    max-width: 630px;
}

.ffm-image img {
    width: 100%;
    max-width: 400px;
    margin: 10px 0px;
}

.section1-div1 h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}

.section1-div1 ul {
    padding-left: 15px;
}

/* section2 */
/* INFO CORNER */

.section2 h1{
    font-size: 30px;
    font-weight: 600;
}

.shadow-effect {
    width: 100%;

    /* height: 370px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    padding: 8px;
    margin: auto;
    border-radius: 10px;
    text-align: start;
    border: 1px solid #ececec;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#customers-infocorner .shadow-effect h6 {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 17px 0;
    font-weight: 600;
}

#customers-infocorner .shadow-effect p {
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 17px 0;
    font-weight: 300;
    text-align:start;
}

.infocorner-readMore {
    /* margin: -17px auto 0; */
    display: table;
    width: auto;
    background: #3190e7;
    padding: 5px 15px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
    text-decoration: none ;
}

.infocorner-readMore:hover {
    outline-offset: white;
    text-decoration: none !important;
    color: white;
}

#customers-infocorner .item {
    text-align: center;
    padding: 0px;
    margin-bottom: 10px;
    opacity: 0.8;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

#customers-infocorner .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

#customers-infocorner.owl-carousel .owl-dots .owl-dot.active span,
#customers-infocorner.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190e7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-infocorner.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

#customers-infocorner.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

#customers-infocorner.owl-carousel .owl-dots .owl-dot span {
    background: #3190e7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}


/* footer */
.footer-section {
    background-color: #1F1F26;
    color: white;
    position: relative;
}

.footer-section .footer-row-div1 {
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-section ul li {
    list-style-type: none;
}

.footer-logo {
    width: 100%;
    /* max-width: 50%; */
    min-width: 40%;
}

.footer-section hr {
    width: 100%;
    height: .1px;
    background-color: #707070;
    margin: 0px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px grey;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
}